/* elemen selector */
body {
    background-color: #a02121;
    color: #ffd6d3; 
    font-family: 'Courier New', Courier, monospace;
}
.txt-center { text-align: center}
.bg-title {background-color: #ffdbdb; border-radius: 30px; }
.txt-pink {color: #EA7B7B;}
.p-1 {padding: 10px;}
.m-1 {margin: 20px;}